h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.toolbar-spacer {
  flex: 1;
}

.content {
  margin: 62px auto 32px;
  padding: 0 16px;
  max-width: 80%;
}

mat-grid-tile {
  mat-card {
    margin: .5em;
    padding: 1.2em;
    ::ng-deep .mat-card-header-text {
      margin: unset;
    }
    .mat-card-header .mat-card-title {
      padding-bottom: 12px;
    }
  }
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}
